<legend>Edit My Profile</legend>
<form method="post" ng-submit="vm.service.updateProfile()">
  <div class="form-group">
    <label class="control-label">Profile Picture</label>
    <img class="profile-picture" ng-src="{{vm.user.picture || 'http://placehold.it/100x100'}}">
  </div>
  <div class="form-group">
    <label class="control-label">Email Address</label>
    <input type="email" class="form-control" ng-model="vm.user.email" />
  </div>
  <div class="has-feedback" ng-class="{ 'has-error' : vm.serverErrors.errorUpdate }">
    <div class="help-block" ng-show="vm.serverErrors" ng-messages="vm.serverErrors">
      <div ng-message="errorUpdate">{{vm.serverErrors.errorUpdate}}</div>
    </div>
  </div>

  <button class="btn btn-md btn-info">Update Information</button>
</form>
