<div ng-include="'app/modules/core/partials/navbar.html'"></div>

<div class="container">

  <div class="alert alert-success clickable" role="alert" ng-click="vm.service.closeAlert()" ng-show="vm.alert">
    <uib-alert type="success">{{vm.message}}</uib-alert>
  </div>

  <tabset>
    <tab active="true" heading="Profile">
      <div ng-include="'app/modules/user/partials/profile.profile.html'"></div>
    </tab>

    <tab heading="Account">
      <div ng-include="'app/modules/user/partials/profile.account.html'"></div>
    </tab>
  </tabset>

</div>
